@import "tailwindcss";

body {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #d6d6d6 0,
    #cacaca 1px,
    #e4e4e4 0,
    #e9e9e9 50%
  );
}
