@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Fira+Code:wght@300..700&family=Fira+Mono:wght@400;500;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tagesschrift&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(245, 248, 252);
}
h1 {
  font-weight: bold;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  min-height: 100vh;
}
form {
  background-color: white;
  border: 1px solid gray;
  min-height: 50vh;
  min-width: 40vw;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 1px 1px 0px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-field{
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 14px;
    position: relative;
}
.input-field input,.input-field select {
  outline: none;
  border: 1px solid gray;
  border-radius: 7px;
  padding: 5px 5px;
}
.input-field .error{
    color: red;
    position: absolute;
    right: 10px;
    font-size: 13px;
}
button{
    background-color: white;
    border-radius: 7px ;
    border: 1px solid rgb(101, 224, 101);
    padding-block: 4px;
    background-color: rgb(74, 218, 74);
    /* color: white; */
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width:800px){
  form{
    min-width: 70vw;
  }
}
@media screen and (max-width:450px){
  form{
    min-width: 90vw;
  }
}