body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1f1f1f;
  color: white;
  padding-bottom: 100px;
}
img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}
h1 {
  display: flex;
  align-items: center;
  padding-inline: 20px;
}
h2 {
  font-weight: 100;
}
.inputs {
  max-width: 600px;
  padding-inline: 20px;
}
.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
}
.input p {
  font-size: 13px;
}
.input input,
.input select {
  outline-color: orange;
  width: 250px;
  height: 20px;
  background-color: transparent;
  border: 2px solid gray;
  color: white;
  border-radius: 3px;
}
.numbers input {
  width: 100px;
  height: 20px;
}
button {
  background-color: orange;
  border: none;
  padding: 6px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin: 20px;
}
button:hover {
  background-color: rgb(226, 147, 1);
}

section {
  padding-inline: 20px;
}
.element {
  /* background-color: aliceblue; */
  border-bottom: 1px solid rgb(63, 63, 63);
  border-radius: 5px;
  padding: 0 15px;
  margin-block: 30px;
}.element p{
  margin-block: 8px;
}
.element .site {
  font-size: 12px;
}
.element .title {
  color: skyblue;
  cursor: pointer;
}
.element .title:hover {
  text-decoration: underline;
}
.element .text {
  font-size: 13px;
}
.element .updated {
  font-size: 12px;
  color: rgb(167, 167, 167);
}
.element .region {
  font-size: 12px;
  color: rgb(167, 167, 167);
}
