.colorbox {
  height: 50px;
  width: 50px;
  border: 1px solid gray;
  margin-block: 20px;
  margin-left: 10px;
}
#yellow {
  background-color: yellow;
}
#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#purple {
  background-color: purple;
}
.active {
  transform: scale(1.15);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}
main{
    display: flex;
    width: 95vw;
    margin-inline: 4px;
}
section{
    /* border: 1px solid gray; */
    min-height: auto;
    padding: 10px;
    flex-grow: 1;
}